@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  src: local("Rubik"), url(/clock-calendar/Rubik-font.woff2) format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
}